{
  "endOfLine": "lf",
  "trailingComma": "es5",
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "cursorOffset": -1,
  "editorconfig": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false,
  "printWidth": 75,
  "proseWrap": "always",
  "semi": false,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "useTabs": false
}
